body {background-color:black;
    font-family:arial;
    color: white;
}

h1{ color:grey; 
    font-family: Verdana;
}

.maindiv{
    background-color: white;
    color:  black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin: 0 auto;
}

.secdiv{
    margin-left: 2  0px;
}

label{
    display:inline-block;
    width:95px; 
    text-align:left;
}


